@mixin easeOut {
    transition: all .5s ease-out;
    opacity: 0;
}

.overlay {
    display: grid;
    z-index: 9999;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    &.hide {
        @include easeOut();
        z-index: -1000;
    }
    #overlay-container {
        position: fixed;top: 25%;
        left: 40%;
        margin-top: -50px;
        margin-left: -100px;
        #img-container {
            position: relative;
        }
    }


}
#fence {
    position: absolute;
}
#enter-btn {
    position: absolute; 
    padding-left: 40px;
}