@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

$font:  'Karla', sans-serif;
.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas: "header header header" "content content content" "footer footer footer";
  font-family: $font;
  a {
    color: black;
    text-decoration: none;
    &:visited {
        color: black;
    }   
    &:hover { 
        color: gray;
    }
}
}
.content {
  grid-area: content;
}

