@import '../../cfg/cfg.scss';
.nav {
    z-index: 1000;
    position: fixed;
    background: white;
    grid-area: header;
    width: 100%;
    height: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "left middle right";
    @media screen and (max-width: $lrg-breakpoint) {
        grid-template-columns: 1fr 0.5fr 1fr;
    }
    @media screen and (max-width: $med-breakpoint) {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "left right"
    }
    @media screen and (max-width: $sml-breakpoint) {
        grid-template-columns: 1fr;
        grid-template-areas: "main";
    }
}
.name {
    grid-area: "left";
    @media screen and (max-width: 480px) { 
        grid-area: "main"
    }
}
.links {
    grid-area: right;
    @media screen and (max-width: 480px) { 
        display: none;
    }
}
ul {
    list-style-type: none;
    li {
        float: left;
        padding: 20px;
        @media screen and (max-width: 720px) {
            padding: 10px;
        }
        @media screen and (max-width: $sml-breakpoint) {
            float: none;
            margin: 0 auto;
        }
    }
}


.burger-menu {
    a {
        font-size: 32px;
    }
    @media screen and (min-width: 481px) {
        display: none;
    }
    @media screen and (max-width: $sml-breakpoint) {
        display: block;
    }
    .bm-overlay {
        background: gray !important;
        opacity: .5 !important;
    }
    .bm-menu {
        height: 180px !important;
        overflow: hidden !important;
        margin-top: -20px !important;
        background: white;
    }
    .bm-menu-wrap {
        width: 100% !important ;
    }
    .bm-item {
        margin: 0;
        padding-left: 0;
    }
    .bm-burger-button {
        z-index: 10001 !important;
        position: absolute;
        width: 26px !important;
        height: 20px !important;
        left: 36px !important;
        top: 31px !important;
    }
    .bm-burger-bars {
        background: black;
       
    }
}